@font-face {
    font-family: 'Sauce Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/OpenSauceOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sauce Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/OpenSauceOne-Bold.ttf') format('truetype');
}

